.header_fon {
    background-color: red;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_content {
    text-align: center;
}

.header_content h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 30px;
}

.in_hea {
    color: orange;
    font-size: 1.32rem;
}